:root {
    --primary-color: #ee4d2d;
    --white-color: #ffffff;
    --black-color: #000000;
    --yellow-color: yellow;
    --star-color: #ffce3d;
    --text-color: #333;
    --black-color-rgba: rgba(0,0,0,0.7);
    --header-height: 120px;
    --navbar-height: 34px;
    --white-color-hsla: hsla(0,0%,100%,.9);
    --basic-box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    --background-image-linear: linear-gradient(0,#fe6132, #f6412d);
}


* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}


.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}



.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.basic-btn {
    color: #555;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    font-weight: 400;
    font-size: 1.4rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 2px;
    padding: 8px 16px;
}

.basic-btn--active {
    color: white;
    background-color: var(--primary-color);
}

.solid-star {
    color: var(--star-color);
    font-size: 1.4rem;
    margin-right: 0.4rem;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@keyframes zooming {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}



