
/*                         HEADER CSS                       */
.header {
    background-image: var(--background-image-linear);
    height: var(--header-height);
    font-size: 1.4rem;
    color: var(--white-color);
    position: fixed;
    width: 100%;
    z-index: 1;
}

/* Header navbar */
.header__navbar {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}


.navbar__nav {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: var(--navbar-height);
}

.nav-link,
.nav-item {
    font-weight: 400;
    padding: 0px 7px;
    display: inline-block;  
    list-style: none;
    text-decoration: none;
    color: var(--white-color);
}

.flex {
    line-height: 34px;
    display: flex!important;
    align-items: center;
}


.none-hover {
    opacity: 1!important;
}
.nav-item:hover .nav-link {
    opacity: 0.7;
}

.nav-link {
    padding: 0px;
}

.nav-item__boundary {
    border-right: 2px solid hsla(0,0%,100%,.22);
}




/* Header QR */
.qr {
    position: relative;
}

/* .qr::before {
    position: absolute;
    content: "";
    background-color: red;
    height: 12px;
    width: 100%;
    top: 16px;
    left: 0;
    right: 0;
    opacity: 0;
} */

.qr:hover .nav-link__qr {
    display: block;
}

.qr-container {
    position: absolute;
    height: 20px;
}

.nav-link__qr {
    background-color: var(--white-color);
    width: 18.4rem;
    height: 21.4rem;
    /* position: absolute; */
    margin-top: 1rem;
    /*   */
    top: 150%;
    padding: 0px 2px;
    display: none;
}



.nav-link__qr > img {
    width: 18rem;
    height: 18rem;
    text-align: center;
}



.download_page {
    display: flex;
    /* justify-content: space-around; */
    padding-left: 14px;
    padding-right: 14px;
}

.app_store, .google_play {
    height: 1.8rem;
    width: 7rem;
}


.app_store{
    margin-right: 8px;
}



.nav-link__facebook {
    font-size: 1.6rem;
}
.nav-link__instagram {
    font-size: 1.6rem;
}


.nav-item + .nav-item__community {
    padding-left: 0px;
}

.nav-link__instagram, .nav-link__facebook {
    margin-right: 1rem;
}

/*  Notify pop up        */
.nav-item__notify {
    font-size: 1.4rem;
    position: relative;
}

.nav-item__notify:hover .notify-tooltip{
    visibility: visible;
    animation: zooming ease-in 0.2s;
}

.notify-tooltip {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 402px;
    height: 352px;
    color: var(--black-color-rgba);
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    border-radius: .125rem;
    top: 110%;
    right: 0;
    transform-origin: calc(100% - 30px) top; 
}


/* add arrow to the tool tip */

.notify-tooltip::after {
    content: "";
    position: absolute;
    right: 36px;
    bottom: 100%;
    border-width: 10px;
    border-style: solid;
    border-color:  transparent transparent white transparent;
}

.notify-tooltip__body {
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notify-content {
    
}

.notify-img {
    width: 100px;
    height: 100px;
}
.notify-tooltip__footer {
    display: flex;
    background-color: var(--white-color);
}

.notify-tooltip__sign-up,
.notify-tooltip__sign-in {
    padding: 12px 0px;
    flex: 1;
    border: none;
    background-color: #f5f5f5;
    color: var(--black-color-rgba);
}

.notify-tooltip__footer button:hover {
    background-color: #e8e8e8;
    cursor: pointer;
    opacity: 1.3;
    color: var(--primary-color);
}



.nav-item__notify i, .nav-item__help i {
    font-size: 1.6rem;
}
/* end notify popup */

/* Seperate between sign-up and sign-in */

.seperate-boundary {
    height: 1.6rem;
    border-right: 2px solid hsla(0,0%,100%,.22);
}

/* end boundary */
.nav-item__help {
    font-size: 1.4rem;
}

/* Shopee popup overlay */


.shopee-modal {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s;
    justify-content: center;
    align-items: center;
    z-index: 2;
}



.shopee-popup__container {
    position: relative;
    margin:auto ;
    width: 34.8rem;
    height: 43.6rem;
    z-index: 9999999999999999999;
}

.shopee-popup__container .popup_img {
    width: 100%;
    height:inherit;
}

.shopee-popup__close-btn {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    border: 2px solid rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    transform: translate(45%, -45%);
}

.shopee-popup__close-btn i {
    flex: 1;
    font-size: 3rem;
    color: var(--white-color);
}

.shopee-popup__close-btn:hover {
    cursor: pointer;
}



/* End shopee popup overlay */

/* Shopee header qith search */

.header-with-search {
    height: calc(var(--header-height) - var(--navbar-height)); 
    padding: 16px 0px 10px 0px;
    display: flex;
}


/* Shopee logo  */


.header-with-search__logo-section {
    padding-right: 40px;
    flex: 1.5;
}
.shopee-logo-icon {
    width: 162px;
    height: 50px;
    fill: #fff;
}

.shopee-logo__link {
    display: inline-block;
}

/* end shopee logo */

.header-with-search__search-section {
    flex: 6;
}

.shopee-cart {
    flex: 1;
}
/* Search section */
.header-with-search__search-section {
    width: 840px;
    display: flex;
    flex-direction: column;
}

/* search bar */
.search-bar {
    padding: 3px;
    display: flex;
    background-color: white;
    width: 100%;
    height: 4rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 9%);
    border-radius: 2px;
}

.search-bar__input {
    padding-left: 10px;
    flex: 1;
}

.search-bar__input input {
    width: 100%;
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
}

.search-bar__search-btn {
    background-color: var(--primary-color);
    border-radius: 2px;  
    height: 100%;
    color: var(--white-color);
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-bar__search-btn .shopee-search-icon {
    fill: var(--white-color);
    width: 1.4rem;
    height: 1.4rem;
    line-height: 100%;
    margin: 0px 8px;
}

/* end search bar */

/* Header sub nav */
.header-sub-navbar {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.sub-navbar-section {
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-wrap: wrap;
}

.sub-navbar__item:first-child {
    margin-left: 0px;
}

.sub-navbar__item {
    font-size: 1.2rem;
    margin-left: 13px;
    text-decoration: none;
    color: var(--white-color-hsla);
}



/* End header sub nav */

.header-with-search__user-section {
    flex: 2;
    display: flex;
}


/* Shopee cart */
.shopee-cart, .shopee-user {
    flex: 1;
    display: flex;
    margin: 0px 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    position: relative;
}

.shopee-cart__icon,
.shopee-cart__icon i,
.shopee-user__icon,
.shopee-user__icon i {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 30px;
}


/* shopee cart notify */
.shopee-cart__notify {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
    background-color: var(--white-color);
    top: 90%;
    right: 0;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    border-radius: .125rem;
    transform-origin: calc(100% - 30px) top; 
    z-index: 2;
}

/* add arrow tool tips */

.shopee-cart::after {
    visibility: hidden;
    position: absolute;
    bottom: 10%;
    right: 42%;
    content: "";
    border-width: 10px;
    border-style: solid;
    
    border-color: transparent transparent var(--white-color) transparent;
}
.shopee-cart:hover:after {
    visibility: visible;
    transition: visibility ease-in 0.4s;
    
}
.shopee-cart:hover .shopee-cart__notify {
    visibility: visible;
    animation: zooming ease-in 0.1s;
}



.notify__container {
    padding: 60px 0px;
    text-align: center;
    font-size: 1.6rem;
}

.notify-image img {
    width: 100px;
    height: 100px;
}

.notify-content {
    color: var(--black-color-rgba);
}

/* end shopee cart */

/*                   Shopee user                  */

.shopee-user {
    display: none;
}

.user-menu__overlay.overlay {
    top: var(--header-height);
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
}

.overlay, .shopee-user-menu__section {
    z-index: 0;
}

.shopee-user-menu__section {
    right: 0;
    top: var(--header-height);
    bottom: 0;
    background-color: var(--primary-color);
    width: 240px;
    position: fixed;
    transform: translateX(100%) ;
    transition: transform 1s;
}

.active {
    display: block!important;
    transform: translateX(0);
}

/* .user-menu__body {
    margin: 8px 8px;
    background-color: var(--white-color);
    min-height: 160px;
    border-radius: 5px;
    
} */




/*                      END HEADER CSS                       */


/*                      MAIN CONTENT                        */

.jumbotron {
    margin-bottom: 16px;
    color: var(--black-color-rgba);
    padding-top:var(--header-height);
    /* margin: 0px 20px; */
}

.breadcrumb {
    padding-left: 20px;
    font-size: 1.6rem;
    margin: 20px 0px 10px 0px;
}

.breadcrumb__link {
    color: var(--black-color);
    text-decoration: none;
}

.jumbotron__image {
    /* margin-left:auto;
    margin-right:auto; */
    width: 100%
}

.jumbotron__image img {
    width: 100%;
}

/* End jumbotron */


/* Product list */

.container {
    display: flex;
    background-color: rgba(0,0,0,0.04) ;
    background-clip: content-box;
}
/* Filter panel */
.filter-panel {
    flex: 1;
    min-height: 500px;
    margin-right: 20px;
    padding-left: 12px;
}


.shopee-search-filter-status {
    display: flex;
    height: 30px;
    align-items: center;
}
.shopee-search-filter-status__icon {
    width: 24px;
    font-size: 12px;
}

.shopee-search-filter-status__icon i {
    margin-right: 10px;
}
.shopee-search-filter-status__text {
    font-size: 1.6rem;
    font-weight: 700;
}

.shopee-filter-group {
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0,0,0,.09);
}

.shopee-facet-filter {

}
.shopee-location-filter {

}
.shopee-logistic-filter {

}
.shopee-brand-filter {

}
.shopee-price-range-filter {

}
.shopee-rates-filter {

}

.shopee-rates-filter .shopee-filter-group__body {
    display: flex;
    flex-direction: column;
}

.shopee-shop-type-filter {

}
.shopee-product-status-filter {

}


.shopee-filter-group__item {
    display: flex;
    align-items: flex-start;
    padding: 8px 0px;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
}

.shopee-filter-group__header {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: rgba(0,0,0,0.6);
    font-weight: 500;
}

.shopee-filter-group__body {

}

.group-item__check-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 24px;
    height: 100%;
    margin-right: 5px;
}

.group-item__price-input {
    display: flex;
    align-items: center;justify-content: space-between;
}

.group-item__price-input .group-item__input {
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    border-radius: .125rem;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%);
    background-color: #fff;
    outline: none;
    border: 1px solid rgba(0,0,0,.26);
}

.group-item__range-line {
    flex: 1;
    height: 1px;
    width: 10px;
    background: #bdbdbd;
    margin: 0rem 1rem;
}
.group-item__input {
    margin-top: 1.5px;
}

.shopee-filter__apply-btn {
    margin-top: 20px;
    width: 100%;
}


/* End filter panel */

.product-list {
    flex:5;
    max-width: 100%;
    min-height: 500px;
    flex-direction: column;
}

/* Sort bar */
.product-list__sort-bar {
    background-color: rgba(0,0,0,.03);
    width: 100%;
    border-radius: 2px;
    display: flex;
    padding: 1.3rem 2rem;
    font-size: 1.4rem;
    color: #555;
    align-items: center;
    margin-bottom: 8px;
}

.sort-bar__label {
    margin-right: 5px;
}

.sort-bar__sort-by-options {
    display: flex;
    flex: 1;
}


.sort-bar__sort-by-options .basic-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    /* min-width: 100px; */
}
/* end sort bar */

.sort-price__btn {
    display: none;
}

.sort-price__btn span {
    margin-right: 10px;
}
/* drop down option for price */
.dropdown-option {
    position: relative;
    flex: 1;
}

.dropdown-option__dropdown-btn{
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.dropdown-option__dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    margin: 0px 0px 0px 10px;
    width: 40%;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 5%);
    border-radius: 2px;
    border-top: 2px solid rgba(0,0,0,.03);
    display: none;
}

.dropdown-option__dropdown-item {
    display: block;
    flex: 1;
    padding: 8px;
}

.dropdown-option:hover .dropdown-option__dropdown-menu {
    display: flex;
}

.dropdown-option__dropdown-item:hover {
    cursor: pointer;
    color: var(--primary-color);
}
/* end drop down option */

/* pagination */

.sort-bar__pagination {
    display: flex;
    align-items: center;
}

.pagination__btn-group {
    display: flex;
    margin-left: 20px;
    line-height: 100%;
}

.pagination__number {

}

.pagination__number-current-page {
    color: var(--primary-color);
}

.pagination__number-all-page {

}

.pagination__group-item {
    flex: 1;
    padding: 10px 15px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 2px;
    color: #555;
}

.pagination_btn-previous {
    color: rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

/* product list search result */
.product-list__search-result {
    width: 100%;
}

.product-list__search-item {
    background-clip: content-box;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px
}

/* item -image */
.search-item__link {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    font-size: 1.4rem;
}

.search-item__section {
    display: flex;
    flex-direction: column;
}

.search-item__section__img {
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
}


.item-img__section {
    position: relative;
    padding-top: 100%;
    width: 100%;
}

.item__main-img {
    top: 0;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: var(--white-color);
}

.item__discount {
    background-color: var(--star-color-rgba);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    text-align: center;
    color: var(--white-color);
    padding: 3px;
}

.item__discount-content span {
    display: block;
}
.item__discount-content span:first-child {
    color: var(--primary-color);
}

.item__discount-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color:  transparent var(--star-color-rgba);
    border-width: 0px 18px 4px;
    bottom: -4px;
    left: 0;
}

.item__shop-type {
    position: absolute;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    line-height: 2rem;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    left: -3px;
    top: 8px;
    border-top-right-radius: .125rem;
    border-bottom-right-radius: .125rem;
}

.item__shop-type::before {
    content: "";
    display: inline-block;
    position: absolute;
    left:0;
    border-top: 0.3rem solid var(--primary-color);
    border-left: 0.3rem solid transparent;
    bottom:-0.3rem;
}

.item__service-and-promotion {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.service-overlay {
    width: 100%;
}


.search-item__section__body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.2rem;
}


.item__section__description {
    display: flex;
    flex-direction: column;
}

.item-description__name {
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.8rem;
    height: 3.6rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    
}

.item-description__additional {
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.additional__content {
    height: 1.8rem;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.0625rem;
    padding: 2px;
    display: inline-block;
}


.item__section__price {
    display: flex;
    margin-top: 8px;
}

.item-price-number {
    display: flex;
    flex: 1;
    align-items: center;
}

.item-price-number__old {
    font-size: 1.4rem;
    color: var(--old-price-color);
    text-decoration: line-through;
    margin-right: 5px;
}

.item-price-number__after-sale {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.item-free-ship {
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}

.item-free-ship > svg{
    width: 2rem;
    height: 2.4rem;
}



.item__section__status {
    margin-top: 8px;
    display: flex;
}

.item__status__favorite-icon {
    display: flex;
}

.item__status__rate {
    flex: 1;
    padding: 4px;
}

.item__status__rate-group-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item__status__rate-group-icon .solid-star {
    font-size: 0.8rem;
    margin-right: 0.1rem;
}

.item__status__sold-amount {

}

.item__section__place {
    display: flex;
    margin-top: 8px;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.6);
}




/* end product list search result */