/*  */
@media (max-width:998px) {
    .header__navbar, .header-sub-navbar {
        display: none;
    }

    .header-with-search {
        padding-top: 28px;
    }

    :root {
        --header-height: 90px;
        --navbar-height: 0px
    }

    .shopee-cart, .shopee-user {
        display: flex;
        margin-right: 20px;
    }

    .header-with-search__logo-section {
        padding-right: 20px;
    }

    .shopee-cart:after {
        right: 10%;
    }

    .breadcrumb {
        font-size: 1.4rem;
    }

    .filter-panel {
        display: none;
    }

    .sort-bar__label {
        display: none;
    }
    .sort-bar__sort-by-options>.basic-btn:first-child {
        margin-left: 0px;
        
    }

    .product-list__sort-bar {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (max-width: 768px) {
    .shopee-cart__notify {
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: calc(var(--header-height) - 10px);
        height: 150px;
        font-size: 1rem;
    }
    .shopee-cart:after {
        border-width: 10px;
        bottom: 0;
    }
    .sort-bar__pagination {
        display: none;
    }

    .shopee-about {
        flex-wrap: wrap;
    }

    .shopee-about__section {
        flex-basis: 50%;
    }

    
}

@media (max-width: 567px) {

    :root {
        --header-height: 90px;
    }
    .notify-image img {
        width: 50px;
        height: 50px;
    }

    .shopee-cart__notify {
        height: 100px;
        font-size: 1rem;
    }

    .breadcrumb {
        font-size: 1rem;
    }

    .header-with-search {
        padding-top: 24px;
        justify-content: space-between;
    }

    .shopee-logo-icon {
        width: 140px;
        height: 40px;
    }
    .header-with-search__logo-section {
        padding-right: 0px;
        width: 152px;   
    }

    .header-with-search__search-section {
        display: none;
    }

    .header-with-search__user-section {
        width:152px;
        flex: 0;
    }
    .shopee-cart, .shopee-user {
        padding-bottom: 7px;
    }

    .shopee-cart__icon,
    .shopee-cart__icon i,
    .shopee-user__icon,
    .shopee-user__icon i {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    .shopee-cart:after {
        right: 5%;
    }
    .sort-price__btn {
        align-items: center;
        display: flex;
    }

    .dropdown-option {
        display: none;
    }
    /* .product-list__sort-bar {
        padding-left: 10px;
        padding-right: 10px;
    } */

    .sort-bar__sort-by-options {
        width: 100%;
    }

    /* .sort-bar__sort-by-options .basic-btn:first-child {
        margin-left: 0px;
        
    } */

    .sort-bar__sort-by-options .basic-btn {
        font-size: 1rem !important;
        padding: 4px 8px;
        flex: 1;
        
    }

    .shopee-popup__container {
        width: 28rem;
        height: 36rem;
    }

    .shopee-popup__close-btn {
        width: 2rem;
        height: 2rem;
    }
    .shopee-popup__close-btn i {
        font-size:2rem;
    }

    .jumbotron.grid {
        margin: 0;
        padding-right: 0px;
        padding-left: 0px;
    }

    .jumbotron .breadcrumb {
        margin-top: 15px;
    }

    .jumbotron .jumbotron__image, .jumbotron__image img {
        
    }

    .container.grid {
        padding-left: 4px;
        padding-right: 4px;
    }

    .shopee-bottom-pagination > button {
        padding: 4px 8px;
    }

    .shopee-policy__list-policy {
        flex-direction: column;
    }

    .shopee-policy__item {
        text-align: center;
        margin-bottom: 16px;
        border: none;
    }
}


@media (max-width: 1199px) {
    .shopee-version__country {
        display: none;
    }
}


/* Responsive for list product */
